.bt1 {
  text-align: center;
  margin: 25px auto;
}
.bt1 a,
.bt1 a:link,
.bt1 a:visited {
  background-color: #0f1c26;
  color: #fff;
  padding: 5px 15px;
  transition: 0.3s;
  display: inline-block;
}
.bt1 a:hover,
.bt1 a:link:hover,
.bt1 a:visited:hover {
  background-color: #f47c00;
  color: #0f1c26;
}

#cantine {
  padding: 15px;
}
#cantine #filtres form {
  text-align: center;
}
#cantine #filtres form h3 {
  margin-bottom: 5px;
}
#cantine #filtres form select {
  padding: 2px 5px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}
#cantine #formListing form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cantine #submit {
  margin: 15px;
}
#cantine table.tableauApe {
  width: 100%;
  margin-top: 25px;
}
#cantine table.tableauApe thead {
  background-color: #0f1c26;
}
#cantine table.tableauApe thead th {
  color: #fff;
}
#cantine table.tableauApe th,
#cantine table.tableauApe td {
  text-align: center;
  padding: 5px;
}
#cantine table.tableauApe tbody tr {
  border-bottom: 1px solid #e9e9e9;
}
#cantine table.tableauApe tbody tr:nth-child(even) {
  background-color: #fafafc;
}
#cantine table.tableauApe tbody tr label {
  display: inline-block;
  width: 100%;
}

div.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto;
}
div.options > div {
  margin: 0 10px;
}

#envoiEnCours {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#envoiEnCours p {
  font-weight: bold;
}
#envoiEnCours .progress {
  display: block;
  width: 50%;
  height: 10px;
  border: 1px solid #000;
  position: relative;
}
#envoiEnCours .progress span {
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 0;
  display: block;
}

table tfoot {
  font-weight: bold;
}

#loading {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
#loading .lds-roller {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loading .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
#loading .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
#loading .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
#loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
#loading .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
#loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
#loading .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
#loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
#loading .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
#loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
#loading .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
#loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
#loading .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
#loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
#loading .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
#loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
#loading .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
#loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}