$noir : #000;
$bleu: #0f1c26;
$blanc : #fff;
$orange : #f47c00;
$grisFonce : #e9e9e9;
$gris : #fafafc;

.bt1 {
    text-align: center;
    margin: 25px auto;

    a,
    a:link,
    a:visited {
        background-color: $bleu;
        color: $blanc;
        padding: 5px 15px;
        transition: 0.3s;
        display: inline-block;

        &:hover {
            background-color: $orange;
            color: $bleu;
        }
    }
}

#cantine {
    padding: 15px;

    #filtres form {
        text-align: center;

        h3 {
            margin-bottom: 5px;
        }

        select {
            padding: 2px 5px;
            -webkit-appearance: auto;
            -moz-appearance: auto;
        }
    }

    #formListing form {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #submit {
        margin: 15px;
    }

    table.tableauApe {
        width: 100%;
        margin-top: 25px;

        thead {
            background-color: $bleu;

            th {
                color: $blanc;
            }
        }

        th,
        td {
            text-align: center;
            padding: 5px;
        }

        tbody {
            tr {
                border-bottom: 1px solid $grisFonce;

                &:nth-child(even) {
                    background-color: $gris;
                }

                label {
                    display: inline-block;
                    width: 100%;
                }

                &:hover {
                    background-color: $grisFonce;
                }
            }
        }
    }
}

div.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px auto;

    &>div {
        margin: 0 10px;
    }
}

#envoiEnCours {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-weight: bold;
    }

    .progress {
        display: block;
        width: 50%;
        height: 10px;
        border: 1px solid $noir;
        position: relative;

        span {
            position: absolute;
            background-color: $noir;
            height: 100%;
            width: 0;
            display: block;
        }
    }
}

table tfoot {
    font-weight: bold;
}

#loading {
    display: none;
    background-color: rgba($color: $noir, $alpha: 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

    .lds-roller {
        display: inline-block;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}